@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.home {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgba(201, 189, 189, 0.8);
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.grid-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.tile-style {
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Lato', system-ui;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
}

.tile-text {
    line-height: 2.5cm;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.tile-text-p {
    margin-top: -1cm;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.tile-text-right {
    float: right;
    margin-right: 30%;
    margin-bottom: 1em;
}

.tile-text-right-body {
    float: right;
    margin-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.tile-background {
    background: url('https://free4kwallpapers.com/uploads/wallpaper/bladerunner--movie-scene-wallpaper-1024x768-wallpaper.jpg') center no-repeat;
    background-size: cover;
    height: 350px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    font-family: Garamond, serif;
    filter: brightness(85%);
    
}

.button-homepage {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-top: 5px;
    margin-right: 5em;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    margin-left: 4.875em;
    font-family: 'Open Sans', sans-serif;
}

.button-homepage:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.grid-columns {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
}

.text-homepage {
    text-align: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
}

.text-homepage-wishlist {
    background: url("https://i.imgur.com/PklQoJU.png") center no-repeat;
    background-size: contain;
    margin-right: 20px;
}